
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div>
    <h1>Gestión de Alumnos</h1>
</div>
<br />
<div>
    @Html.ActionLink("Nuevo Alumno", "Registrar", "Alumno")
</div>
<div>
    @Html.ActionLink("Consultar Alumno", "Buscar", "Alumno")
</div>
<br />
<div>
    @Html.ActionLink("Inicio", "Index", "Home")
</div>


